.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
}

.modal-content {
  background-color: var(--gray-color1);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: 60%;
  text-align: center;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}

.all__halls {
  border: 1px solid var(--accent);
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
}

.vip__halls{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.vip__button {
  flex-basis: 100%;
}

.main__hall {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.sets{
  
}

.vertical_first_line {
  width: 2px; /* Товщина */
  height: 500px; /* Висота */
  background-color: black;
  border: none;
  display: inline-block;
}

.vertical_second_line {
  width: 2px; /* Товщина */
  height: 500px; /* Висота */
  margin-left: 50px;
  background-color: black;
  border: none;
  display: inline-block;
}