@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import './global.header.css';


:root {
  --text: #65dc98;
  --accent: #222035;
  --text-blue: #a0ffe3;
  --gray-color1: #575267;
  --gray-color2: #8d8980;
  --font-primary: 'Bangers';
}

* {
  box-sizing: border-box;
  letter-spacing: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary), system-ui, -apple-system, sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../img/global/background.jpg);
  opacity: 0.95;

  &.is-overflow-hidden {
    overflow-y: hidden;
  }
}

.out {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
