.hero {
    max-width: 1200px;
    max-height: 686px;
    margin: 0 auto 20px auto;
    background-color: var(--accent);
    border: 1px solid var(--text-blue);
    box-shadow: 0px 0px 100px var(--text-blue);
  }
  .container__welcome{
    min-height: 600px;
    background-image: url(../img/home/header.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
  }
  .hero__text{
    margin-bottom: 0;
    text-align: center;
  }
  .hero__text h1{
    margin-bottom: 0;
    letter-spacing: 7px;
    font-size: 30px;
    color: var(--text);
    @media only screen and (min-width: 1023px) {
      font-size: 60px;
    }
  }
  .hero__text span{
    color: var(--text-blue)
  }
  .hero__text p{
    font-size: 20px;
    text-decoration: underline var(--text-blue);
    @media only screen and (min-width: 1023px) {
      font-size: 30px;
    }
  }