#services {
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  background-color: var(--accent);
  border: 1px solid var(--text-blue);
  box-shadow: 0px 0px 100px var(--text-blue);
}
#services h3 {
    text-align: center;
  margin: 0 auto 40px auto;
  letter-spacing: 7px;
  font-size: 30px;
  color: var(--text-blue);
  @media only screen and (min-width: 1023px) {
    font-size: 40px;
  }
}
.services {
  margin-bottom: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 800px) {
  .services {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

.services ul{
  padding-left: 20px;
  line-height: 1.5;
  font-size: 14px;
  @media only screen and (min-width: 1023px) {
    font-size: 18px;
  }
}

.services p {
  text-align: justify;
  margin: 0 20px;
  line-height: 1.5;
  font-size: 15px;
  @media only screen and (min-width: 1023px) {
    font-size: 20px;
  }
}
.services p:first-child{
    color: var(--text-blue);
    margin-top: 20px;
    font-size: 20px;
    @media only screen and (min-width: 1023px) {
      font-size: 25px;
    }
}

.services p:last-child{
    padding-inline: 7%;
    color: var(--text-blue);
    margin-top: 20px;
    font-size: 20px;
    @media only screen and (min-width: 1023px) {
      font-size: 25px;
    }
}
@media (max-width: 800px) {
    .services p:last-child {
        padding-inline: 13%;
    }
  }

.services img {
  max-width: 350px;
  height: auto;
  justify-self: center;
}