.container {
    max-width: 1200px;
    margin: 0 auto 20px auto;
    background-color: var(--accent);
    border: 1px solid var(--text-blue);
    box-shadow: 0px 0px 100px var(--text-blue);
  }
  .hero__text h3 {
    margin: 20px auto 20px auto;
    letter-spacing: 7px;
    font-size: 20px;
    color: var(--text);
    @media only screen and (min-width: 1023px) {
      font-size: 40px;
    }
  }
  .main__hall{
    display: flex;
  }
  .content__hall p{
    margin: 0;
    line-height: 1.5;
    font-size: 15px;
    @media only screen and (min-width: 1023px) {
      font-size: 25px;
    }
  }
  .content__hall ul{
    line-height: 1.5;
    font-size: 12px;
    @media only screen and (min-width: 1023px) {
      font-size: 18px;
    }
  }
  .main__hall img{
    max-width: 600px;
    height: auto;
  }
  .content_mix img{

  }